# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build system
.ninja*
*.ninja
build.ninja
cmake_*
CMakeCache.txt
CMakeFiles

gameobject/gameobject
gameobject/Makefile

cpufreelunch/cpufreelunch